.service {
  background-color: #2f303a;
  // padding-top: 200px;
  // padding-bottom: 200px;
  // max-width: 1600px;
  // margin-left: auto;
  // margin-right: auto;
  background-size: cover;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/Imgservicefon.jpg);
  background-position: center;
  background-repeat: no-repeat;

  &__button:hover,
  &__button:focus {
    background-color: #188ce8;
    width: 100%;
  }

  @media screen and (min-width: 480px) {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: 768px) {
    max-width: 768px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 1200px;
  }
}

.service .container {
  padding: 118px 0;

  @media screen and (min-width: 1200px) {
    padding: 200px 0;
  }
}

.service__title {
  font-weight: 900;
  // font-size: 44px;
  // line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  // max-width: 696px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 30px;
  font-size: 26px;
  line-height: 1.62;

  @media screen and (min-width: 480px) {
    width: 360px;
  }

  // @media screen and (min-width: 768px) {
  // }

  @media screen and (min-width: 1200px) {
    width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.service__button {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  // display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 10px 32px;
  border: 0;
  transition: background-color var(--timing-color-fon-shadow);
}
